@import "tailwindcss";

@theme {
  --color-bg-body: #090D11;
  --color-bg-card: #131c24;
  --color-border-primary: #1E2C38;
  --color-accent: #7699B7;
  --color-text-main: #fafafa;
  --color-text-secondary: #d6d6d6;

  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  body {
    @apply bg-bg-body text-text-main font-poppins;
  }

  /* Custom Scrollbar for the dark theme */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-bg-body;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-border-primary rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-bg-card border border-border-primary rounded-3xl;
  }
  
  .gradient-text {
    @apply bg-clip-text text-transparent bg-linear-to-br from-accent to-amber-500;
  }
}
